@charset "UTF-8";  // -*- css -*-
@import "compass"; // $Id: rrdgraph.scss 2835 2012-05-08 17:56:51Z sdalu $
@import "compass/css3/user-interface";

/*
 * Copyright (c)  2008-201  Stephane D'Alu
 * http://www.sdalu.com/
 */


/*
 * +------------------------------------+
 * | figure                             |
 * |   figcaption      | div   (title ) |
 * |                   | table (labels) |
 * |   img                              |
 * +------------------------------------+
 */

$rrdgraph-helper-img: 'common/icons/16x16/help.png';

.rrd-graph {
    figure {
	margin:			1px;
	padding:		4px;
    	@include inline-block;
        border:			2px solid transparent;
    }
    figure:hover {
	background:		rgba(127,127,127,0.1);
	border:			2px solid rgba(127,127,127,0.5);
    }

    figcaption {
	@include user-select(none);
    }

    figcaption div {
        font-size:		smaller;
        font-family:		sans-serif;
        font-weight:		bold;
        color:			#777777;
        cursor:			help;
//      padding-left:		20px;
//	background:	        no-repeat inline-image($rrdgraph-helper-img);
//	min-height:		image-height($rrdgraph-helper-img);
	margin-left:		1ex;
    }

    figcaption table {
        display:		none;
    }
    figcaption:active table {
        display:		block;
	position:		absolute;
    }

    figcaption table {
	border:			2px solid rgb(153,187,232);
	background-color:	lighten(rgb(153,187,232), 15%);
	@include box-shadow(2px 2px 2px grey);
	min-width:		25ex;
	padding:		2px;
        border-spacing:		1px;
	font-size:		smaller;
    }
    figcaption th {
        border:			1px solid black;
	width:			1em;
    }
    figcaption td {
        padding-left:		1ex;
    }
}



/* Mini view
 */
[data-view=mini] {
    figcaption {
	z-index:		4;
	position:		absolute;
    }

    figcaption div {
	opacity:		0.8;
	width:			0px;
	height:			image-height($rrdgraph-helper-img);
	overflow:		hidden;
    }

    img {
        border:                2px solid #777777;
        border-right:          none;
        border-top:            none;
        z-index:               1;
    }
}
